spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:mysql://${MYSQL_HOST:localhost}:3306/negosud
spring.datasource.username=root
spring.datasource.password=
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.show-sql=true
spring.jpa.open-in-view=true
springdoc.swagger-ui.tagsSorter=alpha
springdoc.swagger-ui.default-model-expand-depth=10

# Security Configuration
security.admin.username=springapi
security.admin.password=springapi
